:root {
  --main-color      : #fcb700 ;
  --dark-color      : #222222 ; 
  --dark-red        : #d01418 ; 
  --paragraph-color : #666666 ;
  --border-color    : #6666662a; 
  --name-items      : #0066c0 ;
}

.sec-form {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
} 
.form-container {
  width: 350px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 30px;
}
.title {
  color: var(--dark-color);
  text-align: center;
  margin: 10px 0 30px ;
  font-size: 28px;
  font-weight: 800;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 15px;
}
.form input {
  border-radius: 4px;
  border: 1px solid #c0c0c0;
  outline: 0;
  padding: 12px 15px;
  transition: 0.3s ;
}
.form input:focus {
  border-color: var(--main-color);
}
.page-link { 
  margin: 0;
  text-align: end;
}
.page-link .page-link-lable {
  color: var(--paragraph-color);
  font-size: 12px ;
  transition: 0.3s;
}
.page-link .page-link-lable:hover {
  color: #000;
}
.form-btn {
  padding: 10px 15px;
  border-radius: 4px;
  border: 0;
  outline: 0;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
  box-sizing: rgba(0, 0, 0, 0.25) 0 3px 8px;
  font-size: 18px;
  font-weight: bold;
}
.sign-up-lable {
  margin: 0;
  font-size: 12px;
  color: var(--paragraph-color);
}
.sign-up-lable .sign-up-link {
  color: var(--main-color);
  font-size: 14px;
  margin-left: 2px;
  text-decoration: underline;
}
.btns-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 15px;
}
.btns-container i {
  font-size: 22px;
}
.apple-login-btn ,
.google-login-btn {
  border-radius: 4px;
  padding: 10px 15px;
  box-shadow: 
  rgba(0, 0, 0, 0.16) 0px 10px 36px 0px ,
  rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  gap: 10px;
}
.apple-login-btn {
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
}
.google-login-btn {
  border: 1px solid #c5c5c57d;
  color: var(--dark-color);
}
@media (max-width:500px) {
  .form-container{
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }
}