
  /*  Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');


/*Basics*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family:'Rubik',sans-serif;
}

:root {
  --main-color      : #fcb700 ;
  --dark-color      : #222222 ; 
  --dark-red        : #d01418 ; 
  --paragraph-color : #666666 ;
  --border-color    : #6666662a; 
  --name-items      : #0066c0 ;
}

body {
  background: #f5f6f9;
  margin-top: 180px;
  /* height: 180vh; */
}

h1,h2,h3,h4,h5,h6 {
  color: var(--dark-color);
}

p {
  color: var(--paragraph-color);
}

.container {
  width: 75%;
  margin: auto;
}
@media (max-width:1500px) {
  .container {
  width: 90%;
}
}


/* Start Header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1000;
}

header .container.top-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
header .container.top-nav .logo img {
  width:150px ;
}
header .container.top-nav .search {
  width: 500px;
  border: 2px solid var(--main-color);
  position: relative;
}
header .container.top-nav .search input {
  padding: 18px 175px 18px 20px;
  width: 100%;
  outline: none;
  border: none;
}

header .container.top-nav .search button {
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
  border: none;
  width: 175px;
  background-color: var(--main-color);
  height: 100%;
  font-size: 18px;
  color: var(--dark-color);
  cursor: pointer;
}
header .container.top-nav .cart-header {
  display: flex;
  gap: 10px;
  align-items: center;

}
header .container.top-nav .cart-header .icon-cart {
  position: relative;
}
header .container.top-nav .cart-header i {
  color: var(--dark-color);
  font-size: 20px;
  border: 1px solid var(--border-color);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center; 
  border-radius: 50%;
  cursor: pointer;

}
header .container.top-nav .cart-header i:hover {
  color: #fff ;
  background-color: var(--main-color);
  transition: 0.3s;
}

header .container.top-nav .cart-header .count-items-head {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--main-color);
  text-align: center;
  line-height:20px ; 
  font-size: 13px;
  right: 0;
  top:-5px;
  color: var(--dark-color);
  border: 1px solid var(--border-color);
}
header .container.top-nav .total-price p {
  margin-bottom: 8px;
}
header nav {
  border: 1px solid var(--border-color) ;
}
header .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .links ul {
  display: flex;
  gap: 70px;
}
header .links ul li {
  position: relative;
  padding: 20px 0 ;
}
header .links ul li::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--main-color);
  transition: 0.3s ;
}
header .links ul li.active::after {
  width: 100%;
}
header .links ul li:hover::after {
  width: 100%;
}
header .links ul li a{
  color: var(--dark-color);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px; 
} 
header .links .login-sign a {
  color: var(--dark-color);
  padding: 10px 20px;
  background-color: var(--main-color);
  margin-left: 10px;
  border-radius: 4px;
}
/*  End Header */

    /* Start Cart */

.cart {
  position:fixed;
  top: 0;
  right: -400px;
  bottom: 0;
  background-color:#fff;
  padding: 30px;
  border-left: 2px solid var(--border-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  z-index: 1100;
  transition: 0.3s ease;
}
.cart.active {
  right: 0;
}
.cart.close {
  right:-400px;
}
.cart .top-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart .top-cart h3 {
  font-size:18px ;
}
.cart .top-cart h3 span {
  font-size: 14px;
  color:var(--paragraph-color) ;
  font-weight:normal ;
}
.cart .top-cart .close-cart i {
  font-size: 35px;
  cursor: pointer;
}
.cart .items-in-cart {
  padding: 20px 0;
  border-block :2px solid var(--border-color);
  margin-block: 20px;
  height: 100%;
}
.cart .item-cart {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.cart .item-cart:last-child {
  margin-bottom: 0;
}
.cart .item-cart img {
  width: 100px;
}
.cart .item-cart h4 {
  margin-bottom: 10px;
  font-weight: 500;
}
.cart .item-cart .delete-item {
  outline: none;
  border: none;
}
.cart .item-cart .delete-item i {
  color: var(--main-color);
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
}
.cart .item-cart .delete-item i:hover {
  color: var(--dark-red);
    transform: scale(1.3);
}
.cart .bottom-cart .total {
  display: flex;
  justify-content:space-between;
  margin-bottom: 30px;
}
.cart .total .price-cart-total {
  color: var(--main-color);
}
.cart .button-cart {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart .button-cart .btn-cart {
    border: 2px solid var(--main-color);
    border-radius: 4px;
    color: var(--dark-color);
    padding: 15px 0;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: var(--main-color);
    transition: 0.3s;
}
.cart .button-cart .btn-cart:hover {
  background-color: transparent;
}
.cart .button-cart .trans-bg {
  background-color: transparent;
  transition: 0.3s;

}
.cart .button-cart .trans-bg:hover {
  background-color: var(--main-color);
}

/* End Cart */

/* Start side-bar */
.slider .container {
  display: flex;
  justify-content: space-between;
}
.slider .container .side-bar {
  width: 300px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.slider .container .side-bar h2 {
  padding: 20px 15px;
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 18px;
}
.slider .container .side-bar a {
  padding: 15px;
  font-size: 14px;
  font-weight: 500;
  color: var(--dark-color);
  border: 1px solid var(--border-color);
  transition: 0.3s;
}
.slider .container .side-bar a:hover {
  color: var(--main-color);
  padding-left: 25px;
}
.slider .container .slide-swp {
  width: calc(100% - 350px);
  overflow: hidden;
  position: relative;
}
.slider .container .slide-swp img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left top;
}
.slider .container .slide-swp .swiper-pagination span {
  background-color: #fff;
  opacity: 1;
} 
.swiper-pagination-bullet-active {
  background-color: var(--main-color) !important;
  width: 35px !important;
  height: 8px !important;
  border-radius: 30px !important;
}
/* End side-bar */

/* Start Features */
.features {
  margin: 50px 0;
}
.features .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
}
.features .container .feature-item {
  width: 18%;
  min-width: 220px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.features .container .feature-item img {
  width: 50px;
}
.features .container .feature-item h4 {
  margin-bottom:8px ;
  font-size: 15px;
}
.features .container .feature-item h4 {
    font-size: 18px;
}
/* End Features */

/* Start Banner */
.banner {
  margin: 50px 0;
}
.banner .container {
  display: flex;
  justify-content: space-between;
}
.banner .container .banner-img {
  width: 32%;
  position: relative;
}
.banner .container .banner-img img {
  width: 100%;
}
.banner .glass-hover {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.banner .banner-img a {
  position: absolute;
  top: 0;
  left : 0 ; 
  width: 100%;
  height: 100%;
  z-index: 100;
}
.banner .glass-hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width : 100% ; 
  height: 100%;
  background: linear-gradient(50deg , transparent 50% ,
  rgb(255, 255, 255, 0.1)60% , rgb(255, 255, 255, 0.5)70%, transparent 71%);
  background-size: 200% 100%;
  background-position: 200% 0;
  z-index: 90;
  transition: 0.8s;
}
.banner .banner-img:hover .glass-hover::after {
    background-position: -20% 0;
}
/*  second-banner */
.banner.second-banner .container .banner-img {
  width: 49%;
  position: relative;
} 

/* End Banner */

/* Start Sale-Section */
.slide {
  margin-bottom: 100px;
}
.top-slide {
  position: relative;
  margin-bottom: 20px;
  padding: 20px 0;
  border-bottom: 1px solid var(--border-color);
}
.top-slide::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100px;
  height: 2px;
  background-color: var(--main-color);
}
.top-slide h2 {
  text-transform: capitalize;
}
.top-slide h2 span {
  font-weight: normal;
}

/* Product card style */
.product {
  position: relative;
  background-color: #fff;
  padding: 20px 30px ;
  text-align: center;
  overflow: hidden;
  box-shadow: 5px 5px 10px #2196f3;
  /* box-shadow: 5px 5px 10px #94949428; */
  border: 1px solid var(--border-color);
  border-radius: 5px;
  width: 25%;
}
.product .icons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  right: -80px;
  z-index:3;
  top: 47%;
  transform: translateY(-50%);
  transition: 0.3s ease-in-out;
}
.product .icons i {
  color: var(--dark-color);
  background-color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}
.product:hover .icons {
    right: 20px;
}
.product .icons i:hover {
  background-color: var(--main-color);
}
.product .icons i.active {
  background-color: var(--main-color);
  pointer-events: none;
  position: relative;
}
.product .icons i.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #0000004f;
  z-index: 5;
  overflow: hidden;
}
.product .sale-present {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  background-color: var(--dark-red);
  color: #fff;
  padding: 4px 12px;
  font-size: 14px;
}
.product .img-product {
  position: relative;
}
.product .img-product img {
  width: 100%;
  transition: 0.3s ease-in-out;
}
.product .img-product .img-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  scale: 0.1;
  opacity:0;
}
.product:hover .img-product img {
  opacity: 0;
}
.product:hover .img-product .img-hover {
  opacity: 1;
  scale: 1;
}
.product .name-product {
  font-size: 16px;
}
.product .name-product a {
  color: var(--name-items);
}
.product .name-product a:hover {
  text-decoration: underline;
}
  .stars {
  margin: 15px 0;
}
  .stars i {
  color: var(--main-color);
}
  .price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px ;
  position: relative;
}
  .price p {
  color: var(--main-color);
  font-weight: bold;
}
  .price p span {
  font-size: 22px;
}
  .price .old-price {
  color: var(--paragraph-color);
  text-decoration: line-through;
  font-size: 16px;
  font-weight: normal;
  position: relative;
  top: -14px; 
}
  .price .old-price-p {
  color: var(--paragraph-color);
  text-decoration: line-through;
  font-size: 16px;
  font-weight: normal;
    position: relative;
  }

/*  Swiper editing */
.slide .container {
  position: relative;
}
.slide .container .mySwiper{
  overflow: hidden;
  padding: 10px  ;
} 
.slide .container .mySwiper .btn-swp {
  position: absolute;
  top:42px ;
  right: 0;
  background-color: var(--main-color);
  color: #fff;
  font-weight: bold;
  padding: 0 18px;
  /* background-repeat: round; */
  border-radius: 5px;
}
.slide .container .mySwiper .btn-swp::after {
  font-size:25px ;
}
.slide .container .mySwiper .swiper-button-prev.btn-swp{
  left:calc(100% - 90px) ;
}
/* End Sale-Section */

/*  Start Second Slide */

.slide-product .product-swip {
  width: calc(100% - 300px);
}
.slide-product .slide-with-img {
  display: flex;
  justify-content: space-between;
}
.slide-product .category-img {
  padding: 10px 0;
  width: 280px;
}
.slide-product .category-img img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  border-radius: 4px;
}

/*  News Letter */
.news-letter {
  background-color: #fff;
}
.news-letter .container  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
.news-letter .text {
  width: 50% ;
  display: flex;
  align-items: center;
  gap: 20px;
}
.news-letter .text img {
  width: 100px;
}
.news-letter .text h4 {
  font-size: 20px;
  font-weight: 500;
}
.news-letter .text p {
  margin: 12px 0;
}
.news-letter .text h6 {
  font-size: 20px;
  font-weight: normal;
}
.news-letter .news-letter-form {
  width: 40%;
  border: 2px solid var(--main-color);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  caret-color: var(--main-color);

}
.news-letter .news-letter-form input {
  padding: 20px 175px 20px 20px;
  outline: none;
  border: none;
  width: 100%;
    caret-color: var(--main-color) ;
}
.news-letter .news-letter-form button {
  background-color: var(--main-color);
  outline: none;
  border: none;
  width: 170px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  cursor: pointer;
  font-size: 18px;
  color: #222;
}

/*  The Button Return To Top */
.back-to-top {
  background-color: #4d5669;
}
.back-to-top p {
  padding: 22px 0;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform:uppercase ;
  cursor: pointer;
}

/* Start Footer */
footer {
  background-color: #394150;
}
footer .container {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
footer .container .big-row {
  width: 30%;
}
footer .container .big-row p {
  width: 90%;
  color: #b1b1b1;
  font-size: 14px;
  line-height: 1.5;
}
footer .container .big-row .hotline {
  display: flex;
  align-items: center;
  margin: 15px 0 ;
  gap: 10px;
}
footer .container .big-row .hotline i {
  font-size: 60px;
  color: var(--main-color);
}
footer .container .big-row .hotline h5 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}
footer .container .big-row .hotline h6 {
  color: var(--main-color);
  font-size:18px ;
}
footer .container .row {
  width: 22%;
}
footer .container .row h4 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
}
footer .container .row .links {
  display: flex;
  flex-direction: column;
  gap: 7px;

}
footer .container .row .links a {
    color: #a5a5a5;
    font-size: 14px;
    position: relative;
    left: 0;
    transition: 0.3s;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
}
footer .container .row .links i {
  color: #fff;
  font-size: 15px;
}
footer .container .row .links a:hover  {
  padding-left: 8px;
  color:var(--main-color) ;
}
/* Bottom Footer */
footer .bottom-footer {
  background-color: #202935;
    transition: 0.3s;
}
footer .bottom-footer .container {
  padding: 20px 0;
  align-items: center;
  transition: 0.3s;
}
  footer .bottom-footer .container p {
  transition: 0.3s;
  }
  footer .bottom-footer .container p:hover {
    color: #fff;
  }
footer .bottom-footer .container span {
  color: var(--main-color);
}
footer .bottom-footer .payment-img {
  display: flex;
  gap: 10px;
}
footer .bottom-footer .payment-img img {
  filter :grayscale(100%);
  cursor: pointer;
  transition: 0.3s;
}
footer .bottom-footer .payment-img img:hover {
  filter :grayscale(0);
}

  header .links ul .logo-menu,
  header .links ul .btn-close-menu,
  header .links .btn-open-menu,
  header .links ul .bg-overlay {
  display: none;
  }


/* Responsive The Main Page */

/* Large Media */
@media (max-width :1000px) {
  header .top-nav .search {
    width: 420px;
  }
  .slider .container .side-bar {
    display: none;
  }
  .slider .container .slide-swp {
    width: 100%;
  }
  .features .container .feature-item {
    margin-bottom: 15px;
  }
  .news-letter .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .news-letter .container .text {
    width: 100%;
  }
  .news-letter .container .news-letter-form {
    width: 70%;
  }
  footer .container {
    flex-wrap: wrap;
  }
  footer .container .row {
    width: 40%;
    margin-bottom: 20px;
    margin-top: -12px;
  }
  footer .container .big-row {
    width: 50%;
    margin-bottom: 20px;
}
}

/*  Medium Media */
@media (max-width :945px) {
  body {
    margin-top: 240px;
  }
  header .top-nav {
    flex-wrap: wrap;
  }
    header .top-nav .search {
      order: 3;
      width: 80%;
      margin: 10px auto 0;
    }
    header .links {
      padding: 20px 0;
    }
    header .links ul {
      position: fixed;
      top: 0;
      left: -420px;
      bottom: 0;
      background-color: #fff;
      flex-direction: column;
      gap: 20px;
      width: 400px;
      border-right: 1px solid var(--border-color);
      text-align: center;
      padding-top: 50px;
      transition: 0.3s ease-out;
    }
    header .links ul.active {
      left: 0;
    }
    header .links ul .logo-menu {
      display: block;
      width: 140px;
      margin: 0 auto;
    }
    header .links ul .btn-close-menu {
      display: block;
      position: absolute;
      top: 15px;
      right: 20px;
      font-size: 40px;
      color:var(--main-color) ;
    }
  header .links .btn-open-menu {
      display: block;
      font-size: 25px;
    }
    header .links ul .bg-overlay {
      display: block;
      position: fixed;
      top: 0;
      right: -100%;
      height: 100%;
      background-color: #0000003d;
      width: calc(100% - 400px);
      transition: 0.3s ease-in-out;
    }
    header .links ul.active .bg-overlay {
      right: 0;
    }
    .slide {
      margin-bottom: 50px;
    }
    .banner {
      margin: 0;
    }
    .product .name-product a {
    font-size: 14px;
  }
    .starts i {
    font-size: 12px;
  }
    .slide-product .category-img {
    display: none;
  }
  .slide-product .product-swip {
    width: 100%;
  }
  .news-letter .text h4 {
    font-size: 25px;
  }
  .news-letter .text p {
    font-size: 14px;
  }
  .news-letter .text h6 {
    font-size: 16px;
  }
}

/*  small Media */
@media (max-width :500px) {
  header .top-nav .search {
    width: 100%;
  }
  header .top-nav .search input {
    padding: 13px 130px 13px 20px;
  }
  header .top-nav .search button {
    width: 120px;
    font-size: 14px;
  }
  header .links ul {
    width: 100%;
    left: -100%;
  }
  .cart {
    width: 100%;
    right: -100%;
  }
  .product {
    padding: 15px 10px;
  }
  .product .name-product a {
    font-size:12px ;
  }
  .starts i {
    font-size: 14px;
  }
  .product .price .old-price {
    color: var(--paragraph-color);
    text-decoration: line-through;
    font-size: 16px;
  /* font-weight: normal; */
    position: relative;
    top:-10px; 
    left:0; 
}
  .slide {
    margin-bottom: 30px;
}
  .top-slide h2 {
    font-size: 16px;
}
  .news-letter .container .news-letter-form {
    width: 100%;
  }
  .news-letter .container .news-letter-form button {
    width: 120px;
    font-size: 14px;
  }
  .news-letter .news-letter-form input {
    padding: 16px 140px 16px 20px;
  }
  .news-letter .text h4 {
    font-size: 23px;
  }
  .news-letter .text p {
    font-size: 14px;
  }
  footer .container .big-row .hotline h6 {
    font-size: 16px;
  }
  footer .container .big-row {
    width: 55%;
    display: flex;
    flex-direction: column;
  }
  footer .container .row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:12px ;
  }
  footer .bottom-footer .container p {
    margin-bottom: 18px;
}
  footer .bottom-footer .container {
    padding-left: 40px;
}
}



/*  Items-details-Page */
.item-detail {
  background-color: #fff;
  padding: 50px 0;
}
.item-detail .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-detail .img-item {
  width: 40%;
}
.item-detail .img-item img {
  width: 100%;
}
.item-detail .img-item .sm-imgs {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.item-detail .img-item .sm-imgs {
  width: 24%;
}
.item-detail .details-item {
  width: 58%;
}
.item-detail .details-item h1 {
  margin-bottom: 30px;
}
.item-detail .details-item h5 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
}
.item-detail .details-item h5 span {
  color: var(--main-color);
}
.item-detail .details-item .price {
  justify-content: left;
  margin: 20px 0;
  gap: 20px;
}
.item-detail .details-item .price p {
  font-size: 22px;
}
.item-detail .details-item .lorem {
  line-height: 1.5;
}
.item-detail .details-item h4 {
  font-size-adjust: 20px;
  margin-top: 20px;
}
.item-detail .details-item button {
  border: none;
  outline: none;
  background-color: var(--main-color);
  color: var(--dark-color);
  font-weight: bold;
  padding: 14px 35px ;
  border-radius: 4px;
  margin: 30px 0;
  font-size: 18px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
}
.item-detail .details-item button:hover {
  scale: 1.1;
}
.item-detail .details-item .icons {
  display: flex;
  gap: 10px;
}
.item-detail .details-item .icons i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #efeeee;
  text-align: center;
  line-height: 50px;
  border: 1px solid var(--border-color);
  cursor: pointer;
  transition: 0.3s;
}
.item-detail .details-item .icons i:hover {
  background-color: var(--main-color);
}
/* Responsive Items-Page */

@media (max-width:1000px) {
  .item-detail .container {
    flex-direction: column;
    
  }
  .item-detail .container .img-item {
    width:50% ;
    margin-bottom: 40px;
  }
    .item-detail .container .details-item {
      width: 100%;
    }
}
@media (max-width:700px) {
  .item-detail .container .img-item {
    width :80% ; 
  }
}
@media (max-width:500px) {
  .item-detail .details-item h1 {
    font-size: 20px;
  }
  .item-detail .details-item p {
    font-size: 14px;
  }
  .item-detail .details-item h4 {
    font-size: 18px;
  }
  .item-detail .details-item button {
    font-size: 16px;
  }
}


/* All Products Page */
.top-page {
  text-align: center;
  padding: 50px 0;
}
.top-page h1 {
  font-size: 40px;
  color: var(--main-color);
  margin-bottom: 25px;
}
.top-page p {
  font-size: 18px;
  width: 60%;
  margin: auto;
  color: var(--paragraph-color);
}
.all-products .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.all-products .container .filter {
  background-color: #fff;
  width: 280px;
  text-transform: capitalize;
  padding: 20px 25px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}
.all-products .container .filter input:checked {
  accent-color: var(--main-color);
}
.all-products .container .filter h4 {
  margin-bottom: 10px;
  margin-top: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border-color);
}
.all-products .container .filter span {
  font-size: 14px;
  cursor: pointer;
}
.all-products .container .filter .filter-item .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.all-products .container .filter .filter-item .item .color {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}
.all-products .container .products-div {
  width: calc(100% - 300px);
  display: flex;
  flex-wrap: wrap;
  gap: 2.5%;
}
.all-products .container .products-div .product {
  width: 22%;
  margin-bottom: 30px;
}
.pagination {
  padding: 9px 20px;
  background-color: #fff;
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin: auto;
  margin-bottom: 40px;
}
.pagination .btn-page {
  font-size: 22px;
  padding: 0 15px;
  cursor:pointer ;
    transition: 0.3s;
}
.pagination .btn-page:hover {
  color: var(--main-color);
}
.pagination .num-page {
  border: 1px solid transparent ;
  width: 100%;
  padding : 10px 15px; 
  font-size: 18px;
  transition: 0.3s;
}
.pagination .num-page.active {
  border: 2px solid var(--main-color);

}
.pagination .num-page:hover {
  background-color: var(--main-color);
  cursor: pointer;
}
  .all-products .btn-filter {
    display: none;
  }
/* Responsive All Products Page */

@media (max-width:1500px) {
  .all-products .container .products-div .product {
    width: 31%;
  }

}


@media (max-width:1000px) {
  .all-products .container {
    position: relative;
    padding-top: 60px;
  }
    .all-products .filter {
      position: absolute;
      left: 0;
      top: 60px;
      width: 40%;
      z-index: -100;
      opacity: 0;
      transition: 0.3s opacity ease-in-out;
    }
    .all-products .filter.active {
      z-index: 100;
      opacity: 1;
    }
    .all-products .container .products-div {
      width: 100%;
      gap: 0;
      justify-content: space-between;
    }
    .all-products .btn-filter {
      display: block;
      position: absolute;
      top: 0;
      padding: 12px 30px;
      background-color: var(--main-color);
      border-radius: 4px;
      font-size: 18px ; 
      text-transform: capitalize;
      cursor: pointer;
    }
}
@media (max-width:650px) {
    .top-page {
      padding-top: 10px;
    }
  .top-page h1 {
    font-size: 22px;

  }
  .top-page p {
    font-size: 14px;
    width: 100%;
  }
    .all-products .container .products-div .product {
      width: 48%;
    }
}
@media (max-width:500px) {
    .all-products .container .filter {
      width: 100%;
    }
}

/* Start Checkout Page */

.checkout {
  margin: 50px 0;
}
.checkout .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.checkout form {
  width: 40%;
}
.checkout form h2 {
  padding: 10px 20px;
  background-color: var(--main-color);
  text-transform: capitalize;
}
.checkout form .address,
.checkout form .coupon {
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 4px;
  overflow: hidden;
}
.checkout form .inputs {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
}
.checkout form .inputs label {
  color: var(--dark-color);
  font-size: 14px;
  text-transform: capitalize;
}
.checkout form .inputs input {
  margin: 5px 0 10px;
  padding: 12px 10px;
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  transition: 0.3s;
}
.checkout form .inputs input:focus {
  border-color: var(--main-color);
}
.checkout .order-summary {
  width: 45%;
  background-color: #fff;
  padding: 0 20px;
}
.checkout .order-summary h1 {
  border-bottom: 1px solid var(--border-color);
  padding: 20px 0;
  margin-bottom: 20px;
}
.checkout .order-summary .items .item-cart {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
.checkout .order-summary .items .item-cart img {
  width: 150px;
}
.checkout .order-summary .items .item-cart h4 {
  color: var(--paragraph-color);
  margin-bottom: 20px;
}
.checkout .order-summary .items .item-cart p {
  color: var(--dark-color);
  font-size: 18px;
}
.checkout .order-summary .total {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkout .order-summary .total p {
  font-weight: bold;
  font-size: 30px;
  color: var(--dark-color);
  text-transform: capitalize;
}
.checkout .order-summary .total span {
  font-weight: bold;
  font-size: 25px;
  color: var(--dark-color);
}
.checkout .order-summary .button-div {
  border-top: 1px solid var(--border-color);
  padding: 30px 0;
}
.checkout .order-summary .button-div button {
  width: 100%;
  margin: auto;
  padding: 15px 0;
  color: var(--dark-color);
  background-color: var(--main-color);
  text-transform: capitalize;
  cursor: pointer;
  outline: none;
  border: 2px solid var(--main-color);
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}
.checkout .order-summary .button-div button:hover {
  background-color: transparent;
  color: var(--main-color);
}
/* Responsive  Checkout Page  */

@media (max-width:1000px) {
  .checkout .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .checkout form {
    width: 70%;
  }
  .checkout .order-summary {
    width: 70%;
  }
}

@media (max-width:650px) {
  .checkout form {
    width: 100%;
  }
  .checkout .order-summary {
    width: 100%;
  }
}

@media (max-width:500px) {
  .checkout form h2 {
    font-size:20px;
  }
  .checkout .order-summary h1{
    font-size:20px;
  }
  .checkout .order-summary .items .item-cart h4 {
    font-size:14px;
  }
  .checkout .order-summary .items .item-cart img {
    width: 100px;
  }
  .checkout .order-summary .total p {
    font-size: 20px;
  }
  .checkout .order-summary .total span {
    font-size: 22px;
  }
  .checkout .order-summary .button-div button {
    font-size: 18px;
  }
}